h1 {
    font-size: 5rem;
    margin-top: 0.5rem;
}
@media only screen and (max-width: 1400px) {
    h1 {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 800px) {
    h1 {
        font-size: 1.8rem;
    }
}
