.task-form-container{
    width: 70%;
    margin-left: 8rem;
    margin-top: 1rem;
    display: flex;
}
.task-form{
    width: 53%;
    background-color: #9BE3C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 2rem;
}

  .focus-input-container {
    width: 70%;
    padding: 1rem;
  }
  .focus-input-container input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #DBFAF5;
    outline: none;
    padding: 0.5rem;
  
  }
  .focus-input-container input:focus {
    border-image: linear-gradient(to right, #358a61, #42af7a);
    border-image-slice: 1;
  }
  .panda-container {
    width: 35%;
    margin-top: 1rem;
    display: flex;
    justify-content: end;
  }
  .waving-panda {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
  }
@media only screen and (max-width: 1450px) {
  .panda-container {
    display: none;
  }
  .task-form-container{
    justify-content: center;
    margin-left: 0rem;
}
.task-form{
  width: 100%;
}
}
