.pomodoro-div {
    background: #9BE3C0;
    width: 60%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    position: relative;
}
.image-container {
    margin-top: -13.5rem;
}
.image-container img{
    width: 20rem;
    height: 20rem;
}
.focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.pom-text {
    font-size: 3rem;
    margin-top: -3rem;
}
.pomodoro-text {
    font-size: 5rem;
}
.pom-buttons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
