.oh-no-panda{
    width: 700px;
    height: 600px;
    position: relative;
    left: 570px;
    top: 270px;
}

.confused{
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 40px
}

.focus {
    position: relative;
    top: 200px;
    left: 1000px;
    font-size: 30px;
}
